/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color:rgb(58, 4, 82);
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: bisque;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
}

/* Main Content */
main {
    background-color: rgb(233, 198, 152);
    /* Make main element take up any surplus space to push footer down" */
    flex: 1 0 auto;
    
}

/* Footer */
footer {
    background-color: rgb(218, 181, 89);
    
}