/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(58, 4, 82);
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: rgb(72, 8, 97);
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 4px solid rgb(174, 75, 182);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 3px;
    color: rgb(255, 240, 0);
    font-weight: bold;
    padding-top: 2%;
}

#menu {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 4px;
    list-style-type: none;
    color: rgb(255, 240, 0);
    background-color: rgb(72, 8, 97);
    padding: 4px;
    padding-top: 6%;
    height: 100%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid rgb(255, 255, 40);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(72, 8, 97);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Hide the checkbox */
#nav-toggle {
    display: none;
}

/* Make label larger (easier to tap) */
.nav-toggle-label {
    font-size: 2rem;
    color: rgb(255, 244, 0);
}

.nav-button {
    background-color: rgb(255, 240, 0);
    height: 20px;
    width: 5rem;
    color: rgb(72, 8, 97);
    font-size: 1em;
    font-weight: bold;
    border-radius: 15%;
    border-color: rgb(255, 240, 0);
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down" */
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}

#catering {
    background-color: rgba(255, 255, 122, 0.6);
    padding-left: 3px;
    height: 20px;
    margin-top: 3px;
    border-bottom: 1px solid rgb(255, 244, 0);
    font-size: 14px;
    position: fixed;
}

#cater-button {
    background-color: rgb(72, 8, 97);
    height: 30px;
    width: 8rem;
    color: rgb(255, 255, 40);
    font-size: 15px;
    border-radius: 25%;
    border-color: rgb(255, 240, 0);
}

#cafe-ad {
    background-color: rgba(72, 8, 97, 0.8);
    border-color: rgb(255, 240, 0);
    color: aliceblue;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    position: relative;
}

#cafe-ad h2 {
    font-size: 100%;
    text-align: center;
}

#cafe-ad h3 {
    font-size: 100%;
    text-align: center;
}


.the-menus {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

ul {
    list-style-type: none;
}

#coffee {
    background-color: rgb(255, 255, 122);
}

#pies {
    background-color: tan;
}

#tea {
    background-color: rgb(174, 75, 182, 0.3);
}

 .address {
     background-color: rgba(161, 146, 5, 0.5);
     /*border: solid rgb(255, 240, 0);*/
     box-shadow: 5px, 10px, 10px, #810e0e;
     top: 50%;
     left: 50%;
     width: 40%;
     height: 80%;
     margin: auto;
     background-position: center;
     border-radius: 6px;
  
 }

 #phone-email {
     color: rgb(30, 4, 41);
     top: 50%;
     left: 50%;
     width: 50%;
     height: 80%;
     margin: auto;
     background-position: center;
     font-size: large;
     font-weight: 400;
 }

 .bold {
    font-weight: bold;
    font-size: medium;

 }

 .contact {
     text-align: center;
     position: center;
     color: rgb(255, 255, 255);
 }

footer {
    /* border-top: 8px solid rgb(174, 75, 182);
    box-shadow: 3px 0 2px rgb(184, 181, 183); */
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: rgb(174, 75, 182);
}

/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        height: 50%;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 70px;
        margin: 0 0 .5rem;
        padding-top: 3%;
    }

    #catering {
        background-color: rgba(255, 255, 122, 0.6);
        padding-left: 4px;
        height: 40px;
        margin-top: 3px;
        border-bottom: 1px solid rgb(255, 244, 0);
        font-size: larger;
    }

    #cater-button {
        background-color: rgb(72, 8, 97);
        height: 65px;
        width: 8rem;
        color: rgb(255, 255, 40);
        font-size: 1em;
        border-radius: 25%;
        border-color: rgb(255, 240, 0);
    }

    #cafe-ad {
        width: 30%;
        height: 20%;
    }

    #cafe-ad h2 {
        font-size: 150%;
        text-align: center;
        margin-top: 2px;
    }

    #cafe-ad h3 {
        font-size: 100%;
        text-align: center;
    }   
    
    .nav-button {
        background-color: rgb(255, 240, 0);
        height: 42px;
        width: 5rem;
        color: rgb(72, 8, 97);
        font-size: 1em;
        font-weight: bold;
        border-radius: 15%;
        border-color: rgb(255, 240, 0);
        }

    .contact {
        font-size:large;
    }

    .address {
        width: 15%;          
    }

    th, td {
        padding: 15px;
    }
    /* Main Content */
    main {
        /* Push main content down because of larger heading */
        margin-top: 90px;
    }
}

/* Media query: Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #hero {
        height: 1000px;
        width: 100%;
    }

    #menu a:hover {
        border-bottom: 3px solid rgb(255, 255, 122);
    }
}